/*Main Content*/
#main{
    padding-top: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#address{
    display: flex;
    background-color: #f8e9cf;
    width: 60%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 2.5px;
}
#about-us-logo{
    background-color: #f8e9cf;
    width: 60%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: center;
}
#about-us-logo img{
    width: 50%;
    height: auto;
}
#about-us-text{
    width: 60%;
    margin-top: 40px;
    height: auto;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: 400;
}

/*Tablet and Phone Landscape Sizes*/
@media screen and (max-width: 1050px) {
    #main{
        padding-top: 80px;
    }
    #address{
        width: 95%;
    }
    #about-us-logo{
        width: 95%;
    }
    #about-us-logo img{
        width: 50%;
        height: auto;
    }
    #about-us-text{
        height:auto;
        width: 90%;
        padding-bottom: 20px;
    }
}

/*Phone Sizes*/
@media screen and (max-width: 600px) {
    #main{
        padding-top: 0;
    }
    #address{
        width: 95%;
    }
    #about-us-logo{
        width: 95%;
    }
    #about-us-logo img{
        width: 50%;
        height: auto;
    }
    #about-us-text{
        height:auto;
        width: 90%;
        padding-bottom: 20px;
    }
}